<div>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "TOP", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page">About Me</li>
    </ol>
  </nav>
</div>
<div class="media">
  <div class="media-body pr-text">
  <h2 class="text-center">ABOUT ME</h2>
  <img src= "https://user-images.githubusercontent.com/74704546/108814194-b8a21780-75f5-11eb-8f03-12d5d2045553.jpg" class="rounded float-right rounded-circle" width="320" height="320" alt="img">
    <b>  人生のテーマ</b><br>
      愛を持って人を繋ぐ旅人<br><br>
    <b>
      エンジニアとして成し遂げたいこと<br>
    </b>
    ・超高機能のAI開発<br>
    　ex）アイアンマンのジャービス、人とともに成長するAIなど<br>
    ・人が絆を深めることのできるコミュニケーションツールの開発<br>
    　ex）LINEなどSNSに即時翻訳機能,VRでの会議室の作成により別々の場所にいながら同じ空間で会議をしているかのようにすること<br>
    ・高齢者や機械が弱い人でも使えるものづくり<br>
    　ex）こういうふうにしたいと話せば遠隔操作で操作したり、提案をしてくれるようにしたい<br>
  </div>

  <br>
</div>

<div class="pr-text">
  <h2 class="text-center">■自己PR</h2>

  <h6>海外21ヶ国を回ったチャレンジ精神</h6>
  <p>
  私には1人で世界一周した経験があります。<br>
  世界一周にチャレンジした理由は、初めてカナダへ海外旅行に行った際に自分の中の常識は自分のものでしかないことに気がつき、衝撃を受けたからです。<br>
  価値観を広げるためにたくさんの経験をしたいと思い、大学生のときに世界一周にチャレンジすることを決意しました。<br>
  世界一周をするには日常会話がこなせる程度の英語力が必須だと考えました。<br>
  中学の英語のテストで20点を取るほど英語が苦手だったため、思い切って語学留学という選択をしました。<br>
  語学留学後に世界一周をすると決めていたため、実行するために200万程資金が必要だと考えアルバイトをして資金を貯めました。<br>
  語学留学当初は英語が話せなかったため、ボディーランゲージで交友を育みました。<br>
  それから半年間の語学留学を経て自然に英語が話せるようになりました。<br>
  その後カナダや旅先でできた友人を頼りながら21カ国を回りました。<br>
  目標達成のためならば苦手なことにでも臆することなく挑戦する力があります。<br>
  </p>
  <p>
  <h6>責任ある仕事を得られる吸収力</h6>
  これまでサービス業のアルバイトに従事しておりました。<br>
  アルバイトにも関わらず、社員の方の業務や売上管理、広報集客など責任ある仕事を多く任せていただいておりました。<br>
  信頼を得られた理由は吸収力だと考えます。<br>
  アルバイト先では先輩や社員の方が行う業務を真似していました。<br>
  私はできることが増えることに充実感を覚えます。<br>
  そのため、先輩方の行動を観察し、私には何ができるのか考え続けました。<br>
  そして実際に先輩の業務を先取りして遂行しました。<br>
  その行動が評価され、責任ある業務を任せていただいたと考えています。<br>
  エンジニアとしても先輩方から多くのことを吸収し、行動していく所存です。<br>
  </p>
  <p>
  <h4 class="text-center">■アルバイト経験</h4>
  <h6>ゲストハウスのフロントスタッフ</h6>
  ゲストハウスで観光や食事に行く仲間を見つけた経験から、コミュニティが広がる環境づくりをしたいと思い、2020年1月から半年間、ゲストハウスのフロントスタッフとして働いていました。<br>
  半年の間に基本的なルームキーの作成やお部屋の案内、朝食の準備の他に本来社員が行う発注や予約の管理なども任され、担当しておりました。
  </p>
  <p>
  <h4 class="text-center">■プログラミングに対する関心</h4>
  　今まで、レストランのホールスタッフやゲストハウスのフロントで働いてきました。<br>
  しかし、コロナウイルスで閉店することになり、接客業を続けることは難しいと感じました。<br>
  接客以外の仕事を考えたときに、テックニュースやAIに興味があったことを思い出しました。<br>
  コミュニティが広がる環境づくりがアプリケーション開発でもできると考えました。<br>
  それがプログラミングを選んだきっかけです。<br>
  確かなスキルを得るために、独学より効率的に学べるテックキャンプに入学しました。<br>
  自分が作るものが利用者の生活に根付くように、親切な開発ができたらいいと思っております。<br>
  </p>
  <br>
</div>