
<div class="container">
  <div class="title text-center">
    <h1>宮﨑優太</h1>
    <h1>の</h1>

    <h1>ポートフォリオ</h1>
  </div>

  <%= link_to apps_path do%> 
    <div class="menu-card">
      
      <h2>APPS</h2>
      

      <p>a lonely trip.</p>
      <div class="pic"></div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <button>
      </button>
      <h2>APPS</h2>
    </div>
  <%end%>

 <%= link_to apps_profile_path do%> 
    <div class="menu-card card2">
    <h2>About Me</h2>

    <p>a lonely trip.</p>
    <div class="pic"></div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <button>
    </button>
  </div>
    <%end%>

</div>
